$primary: #4074a7;
$secondary: #94a1bd;
$success: #5a6c57;
$info: #5c5757;
$warning: #cca272;
$danger: #ac4328;
$light: #ececec;
$dark: #181f2c;

$body-bg: white;
$body-bg-dark: $dark;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  border-radius: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.foot {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  color: $light;
}

.content {
  min-height: calc(100vh - 107px);
  padding: 0.25rem;
}

:focus {
  box-shadow: none !important;
  outline: none !important;
}

:active {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: inherit;
  color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed):hover {
  background-color: var(--bs-btn-hover-bg);
}

.welcomeGif {
  max-width: 60vw;
  max-height: 23vh;
  margin-top: 3rem;
  aspect-ratio: 2 / 1;
}

.container-form {
  max-width: 500px;
}

.container-card {
  max-width: 500px;
  height: 60vh;
  // height: 50vh;
}

.color-danger {
  color: $danger;
}

.color-danger:hover {
  color: $danger;
  opacity: 0.8;
}

.color-success {
  color: $success;
}

.color-success:hover {
  color: $success;
  opacity: 0.8;
}
